<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Model</title>
    <style>
        body {
            font-family: sans-serif;
        }

        label {
            cursor: pointer;
            display: block;
        }
    </style>
</head>
<body>
    <form action="#" method="GET" target="_blank" autocomplete="off">
        <p>O meu formulário</p>
        <p>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nomes" placeholder="nome">
        </p>

        <p>
            <label for="dev1">Sou um dev1:</label>
            <input type="checkbox" id="dev1" value="sim" name="dev1">
            <label for="dev2">Sou um dev2:</label>
            <input type="checkbox" id="dev2" value="sim" name="dev2">
            <label for="dev3">Sou um dev3:</label>
            <input type="checkbox" id="dev3" value="sim" name="dev3">
            
        </p>
        <p>

            Gênero: <br>
            
            <label for="feminino">Feminino:</label>
            <input type="radio" id="feminino" value="sim" name="dev1">
            <label for="masculino">masculino:</label>
            <input type="radio" id="masculino" value="sim" name="dev2">
            <label for="outro">Outro ou Outra:</label>
            <input type="radio" id="outro" value="sim" name="dev3">
        </p>

        <p>
            <label for="datatime">Date:</label>
            <input type="datetime-local" id="datetime" name="datetime" value="2020-04-28T20:00">
        </p>
        
        <p>
            <label for="time">Time:</label>
            <input type="time" id="time" name="time" value="20:00">
        </p>
        
        <p>
            <label for="cor">Color:</label>
            <input type="color" id="cor" name="cor" value="#FF0000">
        </p>
        
        <p>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email">
        </p>
        
        <p>
            <label for="file">File:</label>
            <input type="file" id="file" name="file" accept=".html,image/*" multiple>
        </p>
        
        <p>
            <label for="number">Number:</label>
            <input type="number" id="number" name="number" placeholder="Digito um número" min="10" max="50" step="5">
        </p>
        
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha">
        </p>
        
        <p>
            <label for="url">URL:</label>
            <input type="url" id="url" name="url">
        </p>
        
        <p>
            <label for="search">Search:</label>
            <input type="search" id="search" name="search">
        </p>

        <p>
            <label for="select">Selecione alguma opção</label>
            <select name="select" id="select">
                <option value="qualquer 1" label="Label 1">Valor</option>
                <option value="qualquer 2" label="Label 2">Valor</option>
                <option value="qualquer 3" label="Label 3">Valor</option>
                <option value="qualquer 4" label="Label 4">Valor</option>
                <option value="qualquer 5" label="Label 5">Valor</option>
            </select>
        </p>
        
        <p>
            <label for="textarea">textarea:</label>
            <textarea type="textarea" id="textarea" name="textarea" rows="5" cols="9"></textarea>
        </p>
        
        <p>
            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>